In [7]:
# Dependencies
from bs4 import BeautifulSoup
import requests
import pymongo
from splinter import Browser
from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd
from flask import Flask, render_template

# Step 1 - Scraping

In [28]:
url = 'https://redplanetscience.com/'
# Setup splinter
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 91.0.4472
Get LATEST driver version for 91.0.4472
Get LATEST driver version for 91.0.4472
Trying to download new driver from https://chromedriver.storage.googleapis.com/91.0.4472.101/chromedriver_win32.zip
Driver has been saved in cache [C:\Users\omarg\.wdm\drivers\chromedriver\win32\91.0.4472.101]

In [9]:
browser.visit(url)
html = browser.html

In [10]:
soup = BeautifulSoup(html, 'html.parser')

In [16]:
# Extracting header
news_title = soup.find('div',class_="content_title").text
print(news_title)

NASA Moves Forward With Campaign to Return Mars Samples to Earth

In [17]:
# Extracting the first paragraph od the article
news_p = soup.find('div',class_="article_teaser_body").text
print(news_p)

During this next phase, the program will mature critical technologies and make critical design decisions as well as assess industry partnerships.

# JPL Mars Space Images - Featured Image

In [29]:
#Setting the URL
featured_image_url = 'https://spaceimages-mars.com'

In [30]:
browser.visit(featured_image_url)
browser.find_by_tag("button")[1].click()

In [33]:
html2 = browser.html
soup = BeautifulSoup(html2, 'html.parser')

In [34]:
mars_image = soup.find('img',class_="fancybox-image").get('src')
mars_image

'image/featured/mars3.jpg'

In [35]:
full_mars_image = featured_image_url+"/"+mars_image
full_mars_image

'https://spaceimages-mars.com/image/featured/mars3.jpg'

# Mars Facts

In [38]:
raw_mars = pd.read_html("https://galaxyfacts-mars.com/")
raw_mars[1]

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:          2 ( Phobos & Deimos )
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [39]:
mars_df = raw_mars[1]
mars_df.columns=["Measurements", "Value"]
mars_df = mars_df.set_index("Measurements")
mars_df

                                              Value
Measurements
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                        2 ( Phobos & Deimos )
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [40]:
mars_df.to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Value</th>\n    </tr>\n    <tr>\n      <th>Measurements</th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Equatorial Diameter:</th>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>Polar Diameter:</th>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2 ( Phobos &amp; Deimos )</td>\n    </tr>\n    <tr>\n      <th>Orbit Distance:</th>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>Orbit Period:</th>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>Surface Temperature:</th>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>First Record:</th>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>Recorded By:</th>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

# Mars Hemispheres

In [41]:
hemi_url = "https://marshemispheres.com/"
browser.visit(hemi_url)

In [43]:
all_hemi = browser.find_by_css("a.product-item img")
hemi_list = []
for hemi in range(len(all_hemi)):
    browser.visit(hemi_url)
    browser.find_by_css("a.product-item img")[hemi].click()
    temp = {}
    temp["title"]=browser.find_by_css("h2.title").text
    temp["img"]=browser.find_by_text("Sample").first["href"]
    hemi_list.append(temp)
hemi_list

[{'title': 'Cerberus Hemisphere Enhanced',
  'img': 'https://marshemispheres.com/images/full.jpg'},
 {'title': 'Schiaparelli Hemisphere Enhanced',
  'img': 'https://marshemispheres.com/images/schiaparelli_enhanced-full.jpg'},
 {'title': 'Syrtis Major Hemisphere Enhanced',
  'img': 'https://marshemispheres.com/images/syrtis_major_enhanced-full.jpg'},
 {'title': 'Valles Marineris Hemisphere Enhanced',
  'img': 'https://marshemispheres.com/images/valles_marineris_enhanced-full.jpg'}]